.entry.post{:class => "post-#{@post.slug}"}
  =partial 'post', :locals => {:post => @post}

:javascript
  var idcomments_acct = '7afed296a639a451a3f22b9175139517';
  var idcomments_post_id;
  var idcomments_post_url;
%span#IDCommentsPostTitle{:style=>"display:none"}
%script{:type=>'text/javascript', :src=>'http://www.intensedebate.com/js/genericCommentWrapperV2.js'}
