.entry.post{:class => "post-#{@post.slug}"}
  =partial 'post', :locals => {:post => @post}

=catch_content(:archived_comments)

#disqus_thread
%script{:type=>"text/javascript", :src=>"http://disqus.com/forums/smartbomb-au/embed.js"}
%noscript
  %a{:href=>"http://smartbomb-au.disqus.com/?url=ref"}
    View the discussion thread.
  %a.dsq-brlink{:href=>"http://disqus.com"}
    blog comments powered by
    %span.logo-disqus Disqus
