-# title: First post
-# slug: first-post
-# published_at: 2006-09-12 22:00:00
-# updated_at: 2008-09-01 18:05:29
-# archived_comments: 0


:textile
  Okay, so I'm trying out "Mephisto":http://mephistoblog.com now. I'm really digging it so far.
  
  I'm trying to follow "Ze's wise advice":http://www.zefrank.com/theshow/archives/2006/07/071106.html these days. Wonder how things will go?
