-# title: Hornsby presentation
-# slug: hornsby-presentation
-# published_at: 2006-12-15 00:05:00
-# updated_at: 2008-09-01 18:05:29
-# archived_comments: 0


:textile
  This last Wednesday I did a presentation on Hornsby, at RoRA Sydney's Ales on Rails night.
  
  It went very well, crashes and lack of polish notwithstanding.

-throw_content(:archived_comments) do
  %h3 archived comments

  .commentsblock
    %ol.commenlist
