-# title: RORO on the boil
-# slug: roro-on-the-boil
-# published_at: 2007-08-02 13:32:00


:textile
  There's a great vibe in Oceania at the moment, especially if you're a rails developer.
  
  h1. Inaugural intrameetup drinkies
  
  Sydney folk gathered on the roof of the Glenmore Hotel, drank beer and shot the breeze. We pondered what the future holds with passionate developers looking for work often from risk averse businesses. 
  
  h1. the first video from Sydney Rails July Meetup
  
  Matt Allen talked about the site he works for, http://iseekgolf.com. Its a good example of a fairly large Rails site.
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/7a86d99c/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/7a86d99c/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>
  
  "Tim":http://toolmantim.com recorded the screencast, while "Jason":http://codespike.com was sound man. I post produced it, with wicked tuneage from "Ben":http://teamaskins.com. The biggest thing I learned is that editing this stuff sucks without the right tools. Also, the right tools don't exist yet.
  
  My cocoa hat is coming off the shelf tomorrow.
  
  h1. The roro site reskin happened (!)
  
  "http://rubyonrails.com.au":http://rubyonrails.com.au
  
  Thanks to everyone who put in the elbow grease, it looks tops.