-# title: Patrick Crowley at roro Sydney
-# slug: patrick-crowley-at-roro-sydney
-# published_at: 2007-08-12 05:26:00


:textile
  Well whaddaya know? The second roro Sydney July presentation video has dropped. This time it's Patrick Crowley from SD Ruby, San Diego talking about his two latest plugins, Headliner and Styler
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/60686700/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/60686700/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>