-# title: Hax Day at Lachie's
-# slug: hax-day-at-lachie-s
-# published_at: 2007-08-27 13:07:00
-# updated_at: 2008-09-01 18:05:35
-# archived_comments: 0


:textile
  h1. seesaw
  
  As you've probably heard already, "Matt":http://blog.allen.com.au/2007/8/21/seesaw-restarting-your-mongrels-with-zero-downtime and "Max":http://synaphy.com.au/2007/8/20/seesaw built a sweet little gem called seesaw. It allows zero-downtime, zero-request loss restarting of mongrel clusters. They put their heads together and wrought it before our eyes. I don't think they noticed anything but the code all day :)
  
  <a href="http://www.flickr.com/photos/lachie/1182056976/" title="Photo Sharing"><img src="http://farm2.static.flickr.com/1099/1182056976_b2e03a9759_m.jpg" width="240" height="158" alt="Hax Day - team seesaw" /></a>
  
  <pre><code>
  gem install seesaw
  </code></pre>
  
  h1. javascripter
  
  "Pat":http://the.railsi.st/2007/8/22/javascripter-organize-your-javascript knocked up a javascript version of his "Styler" plugin. It allows you to include controller- or action-specific javascript in your views. Very useful stuff, as it can add another dimension to your javascripting, and the polish you apply to them.
  
  h1. numbr5
  
  @numbr5@ got some love from Martin and Harry. They added
  
  | *command* | *action* |
  | @?ri [term]@ | look up term with @ri@, n5 will send a pm to you with the results. |
  | @?bs [someone]@ | ahem, bitchslap @someone@, you know, when you need to. |
  
  h1. Duke
  
  Our perennial favourite web based dukebox "duke" was dusted off by Nick and Dylan, and taught to sing. Well almost. They tried to get it using "net/raop":http://raop.rubyforge.org/ but the new airport expresses weren't really bedded down. Then icecast was attempted. Next Hax day, eh boys?
  
  h1. odds and ends
  
  I made a few tweaks to "roro faces":http://faces.rubyonrails.com.au, while other guys just soaked up the knowledge, vibe and brownies.
  
  h1. afterword
  
  Some guys stayed around for lovely curry made by Lone.
  
  <a href="http://www.flickr.com/photos/lachie/1181196651/" title="Photo Sharing"><img src="http://farm2.static.flickr.com/1183/1181196651_3286d93721_m.jpg" width="240" height="158" alt="Hax Day - the stayers" /></a>
  
  We're hoping to have many more Hax Days over the coming months, and I think they'll become a catalyst for more and more cool, useful stuff.
