-# title: RORO Sydney Talk - DRYing up your views
-# slug: roro-sydney-talk-drying-up-your-views
-# published_at: 2007-09-30 06:55:00


:textile
  Last "RORO Sydney meetup":http://rubyonrails.com.au/2007/9/4/sydney-september-2007-meetup I did a talk on DRYing up your views.
  
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="437" height="370" id="viddler"><param name="movie" value="http://www.viddler.com/player/4ff82d29/" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><embed src="http://www.viddler.com/player/4ff82d29/" width="437" height="370" type="application/x-shockwave-flash" allowScriptAccess="always" allowFullScreen="true" name="viddler" ></embed></object>
  
  I was very pleased with how it went - this really does get easier with practice! The first couple of slides were dropped, but you didn't miss much of note :)
  
  We're really starting to refine the workflow for recording talks and I'm planning a write up of our experiences so far. 
  
  Big thanks to Tim Lucas for putting this months' 'casts together.