-# title: quicksilver javascript
-# slug: quicksilver-javascript
-# published_at: 2008-02-11 10:32:00


:textile
  h1. point one
  
  %{font-variant:small-caps}"Quicksilver":http://www.blacktree.com/%
  
  h1. point two
  
  I want to _act without doing_ in web apps.
  
  h1. point three
  
  "qs_score.js":http://rails-oceania.googlecode.com/svn/lachiecox/qs_score/trunk/qs_score.js
  
  "For example":http://smartbomb.com.au/qs_score/qs_score.html