-# title: white blood cells
-# slug: white-blood-cells
-# published_at: 2008-04-19 23:59:00
-# updated_at: 2008-09-01 18:05:39
-# archived_comments: 2


:textile
  We have such overwhelming abundance as a society; that we continue to squander it brings me close to despair. Acting only as a diluted 2020 herd is abdicating our responsibility.
  
  We're the top of the pile; the assumption of personal responsibility stands as the only mechanism left to us to achieve the things we _need_ to.
  
  The education system will never tailor itself to _your_ kids. You will need to shoulder the burden of education yourself.
  
  The bulk of society will likely _never_ grasp technology as fully as we do. Its up to us to promulgate and fulfill its promise.
  
  We're not helpless motes in the plasma of society. We're the "white blood cells":http://en.wikipedia.org/wiki/White_blood_cell#Overview_table.

-throw_content(:archived_comments) do
  %h3 archived comments

  .commentsblock
    %ol.commenlist
      %li
        %cite Lachlan Hardy says:
        %br/
        :plain
          This is the kind of post that one never knows how to acknowledge the depth and significance of - so it never gets any comments. And you never know if it meant anything to anyone.<br />
          <br />
          So, while I still don't know what to say, I'm here anyway to tell you it means a lot to me. I'll be doing something about it. Thanks, Lachie.
      %li.alt
        %cite Tim Lucas says:
        %br/
        :plain
          I love it when a simply analogy can communicate so much in a couple of paragraphs. Well put Lachie.
