-# title: white blood cells
-# slug: white-blood-cells
-# published_at: 2008-04-19 23:59:00


:textile
  We have such overwhelming abundance as a society; that we continue to squander it brings me close to despair. Acting only as a diluted 2020 herd is abdicating our responsibility.
  
  We're the top of the pile; the assumption of personal responsibility stands as the only mechanism left to us to achieve the things we _need_ to.
  
  The education system will never tailor itself to _your_ kids. You will need to shoulder the burden of education yourself.
  
  The bulk of society will likely _never_ grasp technology as fully as we do. Its up to us to promulgate and fulfill its promise.
  
  We're not helpless motes in the plasma of society. We're the "white blood cells":http://en.wikipedia.org/wiki/White_blood_cell#Overview_table.