-# title: my first redbubble shirt
-# slug: my-first-redbubble-shirt
-# published_at: 2008-05-22 03:49:00
-# updated_at: 2008-09-01 18:05:39
-# archived_comments: 0


:textile
  A couple of years ago, I designed and hand-printed three t-shirts.
  
  <a href="http://www.flickr.com/photos/lachie/3128397/" title="DSCN3409 by lachie, on Flickr"><img src="http://farm1.static.flickr.com/1/3128397_c10fe739b1_t.jpg" width="100" height="75" alt="DSCN3409" /></a>
  <a href="http://www.flickr.com/photos/lachie/6112157/" title="crabjam shirt by lachie, on Flickr"><img src="http://farm1.static.flickr.com/6/6112157_17f6b70125_t.jpg" width="69" height="100" alt="crabjam shirt" /></a>
  <a href="http://www.flickr.com/photos/lachie/3452603/" title="ninja traced by lachie, on Flickr"><img src="http://farm1.static.flickr.com/2/3452603_f9117a5b95_t.jpg" width="74" height="100" alt="ninja traced" /></a>
  
  It was a lot of effort, mainly due to having to hand-cut the stencils out of overhead projector slides. The quality was never quite up to snuff. And the paint was smelly and extremely messy. Despite all that, _it was a blast_.
  
  So now that I have a bit of time off, I find myself wanting to do some designs again... This time I'm eschewing the heady chemical aroma of fabric paint and using "Redbubble":http://www.redbubble.com/, a "long tail":http://en.wikipedia.org/wiki/The_Long_Tail publishing business based in Melbourne. They'll print cards, prints and *shirts* from your artwork.
  
  They charge a reasonable base price, over which you can mark up whatever profit you desire. Selling costs nothing, so at the very least you can get your own designs printed for only $21. Niice.
  
  On top of that, the site is really nicely designed and runs on Rails. Our #roro friends "Xavier Shay":http://rhnh.net/ and "Justin French":http://justinfrench.com/ work there.
  
  so anyway:
  
  h1. buy my tshirt!
   
  !http://images-0.redbubble.com/img/clothing/bodycolor:gold/size:large/style:mens/view:preview/1169263-4-schr-dingers-bird.jpg!
  
  "Here":http://www.redbubble.com/people/lachiec/clothing/1169263-4-schr-dingers-bird
  
  If you don't get it, have a clue: http://twitter.com
