-# title: Rails Camp Three
-# slug: rails-camp-three
-# published_at: 2008-06-25 12:42:00
-# updated_at: 2008-09-01 18:05:39
-# archived_comments: 3


:textile
  RailsCamp 3 just finished, and it was another fantastic weekend of hacking with mates.
  
  h1. what a kerfuffle!
  
  You've probably heard by now that Ben (the organiser of RailsCamp) and Kaz's munchkin Liam came six weeks early. We'd been talking about babies coming early just the night before, 
  since my son Toby was five weeks early. 
  It was an eerie shock to hear that nearly the same thing had happened to Ben & Kaz! Liam is doing well, but is still in hospital for a little while.
  
  The upshot of this twist was that "Glenn Davy":http://glenn.davy.net.au/ and I ended up running the camp. It was a pleasure as most of the heavy lifting had already been done by Ben.
  Thanks so much to Glenn and Ben for making the camp awesome, and to everyone else for being so easy-going over the weekend.
  
  h1. codings
  
  Lack of internet is a key feature of the RailsCamp fun.
  To offset this, "Lincoln Stoll":http://lstoll.net set up a server chock full of VPS's for hosting our apps. On top of that it served DNS and hosted gitorious.
  At camp it was at http://git.railscamp.net, and now we're back its still at http://git.railscamp.net. (Some of these apps will no doubt go across to github in time).
  
  A bumper crop of code came home from the camp this year:
  
  * Gitjour refactor
  
  "http://git.railscamp.net/projects/gitjour":http://git.railscamp.net/projects/gitjour
  
  A group of guys made their dissatisfaction with the current gitjour implementation manifest by refactoring it, waay into early saturday morning.
  
  * Gitnotify
  
  Broadcast a growl notification each time you commit to git.
  
  * Gitman
  
  "http://git.railscamp.net/projects/gitman":http://git.railscamp.net/projects/gitman
  
  Manage your git sharing, simply. By "Mike Bailey":http://mike.bailey.net.au/
  
  * Swords
  
  "http://git.railscamp.net/projects/swords":http://git.railscamp.net/projects/swords
  
  A great start on a thesaurus based crossword generator. It has ascii and web interfaces.
  
  * Duke
  
  "http://git.railscamp.net/projects/duke":http://git.railscamp.net/projects/duke
  
  The return of the network jukebox. Gaming the duke voting system provided plenty of fun for all.
  
  "Myles Byrne":http://ducknewmedia.com.au/ and I were duke's latest developers (everyone works on duke, some time). I failed to provide events for Myles, and I'm sorry.
  
  * bit-tags
  
  "http://git.railscamp.net/projects/bit-tags":http://git.railscamp.net/projects/bit-tags
  
  Taggable snippets by the Brisbane boys.
  
  * iShare
  
  "http://git.railscamp.net/projects/ishare":http://git.railscamp.net/projects/ishare
  
  An app for letting know what you'd like to hear or talk about at railscamp!
  
  * twonklist
  
  "http://git.railscamp.net/projects/twonklist":http://git.railscamp.net/projects/twonklist
  
  An anti-social networking application.
  
  * Twetter
  
  "http://git.railscamp.net/projects/twetter":http://git.railscamp.net/projects/twetter
  
  A local twitter. Linc pointed twitter.com at twetter so that everyone's Twitterific *just worked.* "Matta writes about it here":http://blog.allen.com.au/2008/6/24/rails-camp-the-third
  
  Max dropped in and wrote up a Flex based client, too.
  
  * starjour
  
  "http://github.com/lachie/starjour/tree/master":http://github.com/lachie/starjour/tree/master
  
  I did some work on refactoring starjour. Still not really sure where this app is going, but 
  it _was_ good to see is list full of *jour services.
  
  If I've forgotten any projects, let me know.
  
  h1. jq
  
  I gave a talk on jQuery, which was a bit of a shamozzle as my version of firebug wasn't playing with firefox 3. Preparation? Next time I suppose.
  Thanks to Hugh Evans for having a working ffx and some elegant jq code to show off.
  
  h1. feedback
  
  If you have some feedback on the camp, please let me know: lachie (at) this domain. 
  
  One thing I'd like to see is some more emphasis on family at RailsCamp. "Brodaigh":http://brodaigh.com/ brought her daughter Crystal to this one and Lone and I brought Toby to the first one.
  It adds a mellowing element to the camps that I really enjoy. And, I want a chance to beat Crystal at Set.
  
  h1. saving the day
  
  When people started leaving on Monday morning, we hit a problem: someone had inadvertently taken "Phil Oye's":http://www.moment.com.au/ bag.
  
  After we'd finished tidying up and had hit McDonalds, I got a Twitter direct message on my phone from "Dr Nic":http://drnicwilliams.com/ "what's your ph num? we have someone's black bag @ airport."
  
  I was able to put Phil in contact with Greg Fairbrother and it all ended happily ever after.
  
  Twitter FTW
  
  h1. Summer 08 ? Winter 09 ?
  
  So who's going to step up next? Railscamp happens where ever someone organises it. It may be a structure-less weekend, but its still non-trivial to set one up 
  If you think you'd like to give it a go, let me know and I'll put you in touch with people who've done it before. lachie (at) this domain.
  
  The guys from Brisbane are keen to put on a camp, probably in Winter 2009.
  
  Who wants to organise an event for Summer 2008/9 ?

-throw_content(:archived_comments) do
  %h3 archived comments

  .commentsblock
    %ol.commenlist
      %li
        %cite pat says:
        %br/
        :plain
          &quot;everyone works on duke, some time&quot; too true.<br />
          <br />
          Loving these camp reports :)
      %li.alt
        %cite Tim Lucas says:
        %br/
        :plain
          I'm hoping next camp will be my first foray into Dukedom
      %li
        %cite Michael MacDonald says:
        %br/
        :plain
          And thanks for all your efforts with the running of things during the weekend!
