-# title: Can code be art?
-# slug: can-code-be-art
-# published_at: 2008-08-27 05:23:00


:textile
  For some reason an emasculated twitter-debate flared yesterday, on whether code is art.
  
  Of course, the question is intractable. Art is always elusive, otherwise there wouldn't be any point to creating it in the first place.
  
  However I've been thinking on this subject a bit lately. Toby has an insatiable hunger for drawings of animals, to be wrought by whomever is available/closest. This hunger is so strong that he now associates Daddy's Computer with the drawing of Elephants:
  
  <a href="http://www.flickr.com/photos/lachie/2730829711/" title="efant by lachie, on Flickr"><img src="http://farm4.static.flickr.com/3196/2730829711_a11d1dc70d_m.jpg" width="240" height="180" alt="efant" /></a>
  
  Of course I now have it on "good authority":http://twitter.com/notahat/statuses/899024626 that my credentials on the subject of art and code are inadequate. But I've still been thinking about it enough to raise a slew of illustrative questions.
  
  h2. Is art available to everyone?
  
  Is a child capable of detecting art? At what age do people become sensible of art? Can all people appreciate art?
  
  If No, then who decides? Is there a gold standard, at least a committee?
  
  If code could be art, who would decide if it actually was?
  
  h2. What is art?
  
  For example, is _anything_ within the realm of industrial design art?
  
  Is a beautifully designed car art? I had this discussion with Dad the other day, and you'd be hard pressed to persuade him that car design is anything lower than the height of human sophistication and art.
  
  Obviously this is completely subjective, even inside art's own walls.
  
  Is literature art? Its not much to look at, but it can certainly manifest as art *inside your head*. Is a play art? Is its script art, or only a production thereof? And is an amdram production less arty than a big name one?
  
  Maybe code's concepts or manifestation could be considered to be art. Or maybe code is only art if you "do it like _why":http://redhanded.hobix.com/images/aside-from-that-there-is-a-range.gif.
  
  h2. Science
  
  Programming is part of computer science, but I'm fairly sure we don't usually treat it as such (though maybe unit tests are moving us back towards the scientific method). There's abundant beauty in science but it's not art.
  
  For example, is Flickr more the result of computer science, or the imagination of a small group of people?
  
  h2. Apples, oranges & elephants
  
  Ultimately I think that comparing code and art is an impedance mismatch, but that perhaps the manifestation of code as an application could be considered as art.
  
  And, even if code _is_ art, I think that we're all still at the stage of kiddies who daub their masterworks with arbitrary parts of their body. Kiddies who appreciate most pictures as art, as long as they have elephants.