-# title: glitches in perception
-# slug: glitches-in-perception
-# published_at: 2009-01-25 00:32:07
-# updated_at: 2009-01-25 00:32:07
-# archived_comments: 0


:textile
  On the new "Matthew Herbert Big Band album":http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=291389683&s=143460 there's an achingly beautiful song _One Life_. I thought it was annoyingly and capriciously glitched. The glitch repeats rhythmically over the track, seemingly detached and irrelevant, just occluding the music. Its not unusual in Herbert's music, but usually "his mistakes":http://www.matthewherbert.com/pccom.php enhance tracks.
  
  At the magical Matthew Herbert Big Band gig at the Sydney Opera House last night _One Life_ was the only track where Herbert stood back from his equipment, hands clasped, just listening. I immediately thought that he'd regretted the glitch on the album and was tacitly repenting on stage.
  
  This morning I googled the track; I was wrong. From the liner notes:
  
  bq. one beep from the alarm system of my premature son's neonatal special care unit. each beep represents 100 people killed in iraq since the start of the war in 2003 to oct 2006.
