-# title: Tunnelling to freedom
-# slug: tunnelling-to-freedom
-# published_at: 2009-02-17 20:20:00

:textile
  We're told we live in a global village. 
  In a globalised, modern albeit lunatic economy.
  Hands have been shaken, palms greased and backs slapped:
  it's free trade, baby!

  Living on the internets makes it seem more so.

  Blogs are our common, amazon our market, youtube our theatre and google our church.
  And sometimes, not-America is that place under the bridge by the river where the drunks live.

  Some internet sites are geo-elitists. No you must be A Merkin to spend your money here! 
  You're that socioeconimically different boy from the wrong side of the pacific, and your type isn't welcome here.

  As a result, a disproportionately large number of online shoppers live in Beverly Hills.

  Nowadays they won't even take your word for it. They use sophisticated maps "like this":http://xkcd.com/195/ to work out where you're from
  based on what your computer tells them.

  And they use that information to _stop you getting free stuff_.
  Its like the sign at the fair dreaded by the vertically challenged: You must be *this* American to ride this site.

  So lets fool the internet into thinking you're in not-not-America (i.e. America!!).

  h2. get ready
  
  For today's experiment, you'll need:

  # A computer. I have a mac, so my instructions will be for that particular device. (Its an American designed computer...
  you think the internet'd already know it was American. But alas, in this country Senator Conroy 
  rewrites all our packets so they're 100% dinky di &amp; wholesome.)

  # A "VPS slice":http://en.wikipedia.org/wiki/Virtual_private_server with lots of spare bandwidth.
  My slice gets 200gig a month with it. Its only hosting this site and one other.
  With my home connection we get 60gig/month, so that'll run out well before the slice does.
  My slice runs ubuntu, so I'll be assuming that too.


  h2. how to

  # pptp

  # iptables

  # vpn client

  


